<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>org.apache.karaf.KARAF</string>
	<key>ProgramArguments</key>
	<array>
		<!-- path to your KARAF-service wrapper -->
		<string>${karaf.home}/bin/${name}-service</string>
		<string>console</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>