body { background-color: #ffffff; color: #000000; font-family: Arial, sans-serif; }
h1 { font-size: 130% }
h2 { font-size: 125% }
h3 { font-size: 120% }
h4 { font-size: 115% }
h5 { font-size: 110% }
h6 { font-size: 105% }
a { color: #880000 }
a:visited { color: #880000 }
a:hover { color: #cc4444 }
.title { position: absolute; left: 1em; right: 1em; top: 10px; height: 52px; }
.menu { position: absolute; top: 80px; left: 0.5em; width: 8em; border: solid 1px black; padding-left: 0.5em; padding-right: 0.5em }
.menu ul { list-style: none; padding-left: 0pt}
.main { position: absolute; top: 65px; left: 10.5em; right: 1em; }
.code { background-color: #eeeeee; border: solid 1px black; padding: 0.5em; }
.code-keyword { color: #880000; }
.code-quote { color: #008800; }
.code-object { color: #0000dd; }
.code-java { margin: 0em; }