<settings>
    <localRepository>foo/bar</localRepository>
    <profiles>
        <profile>
            <id>downloadSources</id>
            <properties>
                <downloadSources>true</downloadSources>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>downloadSources</activeProfile>
    </activeProfiles>
</settings>
