/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#timeline          { width: 100%; overflow-x: scroll }
#timelineLegend .event { display: inline-block; width: 12em; margin: .2em 0; text-align: center }
.event                 { overflow:visible; white-space:nowrap }
.eventservice { background-color: #ADFF2F }
.eventbundle   { background-color: #FFCACD }
.eventconfig   { background-color: #FFD700 }
.eventframework { background-color: #DCDCDC }

table.propTable, table.propTable tr, table.propTable td { border: none !important }
td.propName { padding: 0 4px 0 0; text-align: right !important; text-decoration: underline }
td.propVal   { padding: 0 0 0 4px }