<!--<script type="text/javascript" src="res/ui/bundles.js"></script>-->
<script type="text/javascript" src="res/lib/jquery.multifile-1.4.6.js"></script>

<form method="post" enctype="multipart/form-data" action="../" style="width:50%">

	<!-- top heading -->
	<div class="ui-widget-header ui-corner-top buttonGroup">
		<input type="hidden" name="action" value="install"/>
		${bundles.upload.caption}
	</div>

	<table class="nicetable">
		<tr>
			<td style="text-align:right">${bundles.upload.start}</td>
			<td><input type="checkbox" name="bundlestart" value="start"/></td>
		</tr>
		<tr>
			<td style="text-align:right">${bundles.upload.level}</td>
			<td><input class="input" type="text" name="bundlestartlevel" id="bundlestartlevel" value="${startLevel}" size="4"/></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input class="multi" accept="jar" type="file" name="bundlefile"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center">
				<input type="submit" value="${bundles.install_or_update}"/>
			</td>
		</tr>
	</table>
</form>
