<script type="text/javascript" src="res/ui/components.js"></script>
<script type="text/javascript">
// <![CDATA[
var drawDetails = ${__drawDetails__};
var scrData = ${__data__};
// i18n
var i18n = {
	'Bundle'           : '${scr.prop.bundle}',
	'Default State'    : '${scr.prop.defstate}',
	'Activation'       : '${scr.prop.activation}',
	'Service Type'     : '${scr.serv.type}',
	'Services'         : '${scr.serv}',
	'Properties'       : '${scr.prop.properties}',
	stat_no_service    : "${scr.status.no_service}",
	stat_no_components : "${scr.status.no_components}",
	stat_ok            : "${scr.status.ok}"
}
// ]]>
</script>
<p class="statline">&nbsp;</p>


<div id="scr"> <!-- data available -->
	<!-- top header -->
	<form method='post' enctype='multipart/form-data' action="">
		<div class="ui-widget-header ui-corner-top buttonGroup">
			<button class='reloadButton' type='button' name='reload'>${reload}</button>
		</div>
	</form>
	
	<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="col_Id">${id}</th>
			<th class="col_Name">${scr.title.name}</th>
			<th class="col_Status">${scr.title.status}</th>
			<th class="col_Actions">${scr.title.actions}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td> <!-- id -->
			<td> <!-- name with arrow -->
				<div class="bIcon ui-icon ui-icon-triangle-1-e" style="float:left" title="${scr.details.tip}">&nbsp;</div>
			</td> 
			<td>&nbsp;</td> <!-- status -->
			<td>
				<ul class="icons">
					<li class="dynhover ui-helper-hidden" title="${scr.action.enable}"><span class="ui-icon ui-icon-play">&nbsp;</span></li>
					<li class="dynhover ui-helper-hidden" title="${scr.action.disable}"><span class="ui-icon ui-icon-stop">&nbsp;</span></li>
					<li class="dynhover ui-helper-hidden" title="${scr.action.configure}"><span class="ui-icon ui-icon-wrench">&nbsp;</span></li>
				</ul>
			</td>
		</tr>
	</tbody>
	</table>
</div> <!-- end data available -->

<!-- bottom header -->
<form method='post' enctype='multipart/form-data' action="">
	<div class="ui-widget-header ui-corner-bottom buttonGroup">
		<button class='reloadButton' type='button' name='reload'>${reload}</button>
	</div>
</form>