<script type="text/javascript" src="res/ui/license.js"></script>
<script type="text/javascript">
// <![CDATA[
var bundleData = ${__data__};
// i18n
var i18n = {
	status_ok    : '${license.status.ok}', // The following bundles contains license files.
	status_none  : '${license.status.none}', // No bundles with license files available
	resources    : '${license.resources}', // 'Bundle Resources'
	resources_emb: '${license.resources.embedded}' // 'Embedded {0}'
}
// ]]>
</script>

<!-- status line -->
<p class="statline">${license.status.ok}</p>

<div id="licenseContent">
	<div id="licenseLeft" class="ui-widget-content ui-corner-all">
		<!-- here comes the bundles links -->
	</div>
	<div id="licenseRight">
		<div id="licenseButtons">&nbsp;</div> 
		<br />
		<div id="licenseDetails" class="ui-widget-content ui-corner-all"></div>
	</div>
	<div class="ui-helper-clearfix">&nbsp;</div>
</div>
