<script type="text/javascript" src="res/ui/logs.js"></script>
<script type="text/javascript">
// <![CDATA[
// i18n
var i18n = {
	status_ok      : "${log.status.ok}",
	status_missing : "${log.status.missing}",
	error : "${log.level.error}",
	warn  : "${log.level.warn}",
	info  : "${log.level.info}",
	debug : "${log.level.debug}"
}
// ]]>
</script>

<!-- status line -->
<p class="statline">&nbsp;</p>

<div id="logs">
<!-- buttons top -->
<form method="post" enctype="multipart/form-data" action="">
	<div class="ui-widget-header ui-corner-top buttonGroup">
		<label>${log.severity.label}</label>
		<select class="minLevel">
			<option value="1">${log.level.error}</option>
			<option value="2">${log.level.warn}</option>
			<option value="3">${log.level.info}</option>
			<option value="4" selected="selected">${log.level.debug}</option>
		</select>
		<button class="reloadButton">${reload}</button>
	</div>
</form>

<div id="logs2">
<table id="plugin_table" class="tablesorter nicetable">
	<thead>
		<tr>
			<th class="col_Received">${log.received}</th>
			<th class="col_Level">${log.level}</th>
			<th class="col_Message">${log.message}</th>
			<th class="col_Service">${log.service}</th>
			<th class="col_Exception">${log.exception}</th>
		</tr>
	</thead>
	<tbody>
		<tr><td colspan="5">&nbsp;</td></tr>
	</tbody>
</table>

<!-- buttons bottom -->
<form method="post" enctype="multipart/form-data" action="">
	<div class="ui-widget-header ui-corner-bottom buttonGroup">
		<label>${log.severity.label}</label>
		<select class="minLevel">
			<option value="1">${log.level.error}</option>
			<option value="2">${log.level.warn}</option>
			<option value="3">${log.level.info}</option>
			<option value="4" selected="selected">${log.level.debug}</option>
		</select>
		<button class="reloadButton">${reload}</button>
	</div>
</form>
</div> <!-- logs2 -->

</div> <!-- logs -->

<!-- status line -->
<p class="statline">&nbsp;</p>
