<script type="text/javascript" src="res/ui/shell.js"></script>
<script type="text/javascript">
// <![CDATA[
var shellDisabled = ${shell.disabled};
// ]]>
</script>
<p class="statline">${shell.status}</p>

<form id="shell_form" method="post" action="${pluginRoot}">
	<!-- top header -->
	<div class="ui-widget-header ui-corner-top buttonGroup">
		<input id="help" value="${help}" type="button" />
		<input id="clear" value="${shell.clear}" type="button" />
	</div>

	<!-- the console window -->
	<div id="consoleframe">
		<div id="console">
			<!-- HERE COMES CONSOLE CONTENTS -->
		</div><!-- console -->
	</div><!-- consoleframe -->

	<!-- bottom header -->
	<div class="ui-widget-header ui-corner-bottom buttonGroup" style="text-align: left">
		&nbsp;-&gt; <input id="command" name="command" class="command" autocomplete="off" type="text" />
	</div>
</form>
