#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#

attribute.parents = default

repository.karaf-enterprise = mvn\:org.apache.karaf.features/enterprise/${profile:version/karaf}/xml/features
repository.karaf-standard = mvn\:org.apache.karaf.features/standard/${profile:version/karaf}/xml/features
repository.karaf-spring = mvn\:org.apache.karaf.features/spring/${profile:version/karaf}/xml/features
repository.karaf-spring-legacy = mvn\:org.apache.karaf.features/spring-legacy/${profile:version/karaf}/xml/features

# lets include the camel, cxf and activemq features by default so they can be resolved automatically when deploying projects
repository.apache-camel = mvn\:org.apache.camel.karaf/apache-camel/${profile:version/camel}/xml/features
repository.apache-cxf = mvn\:org.apache.cxf.karaf/apache-cxf/${profile:version/cxf}/xml/features
repository.apache-activemq = mvn\:org.apache.activemq/activemq-karaf/${profile:version/activemq}/xml/features

# Basic features
feature.karaf-jaas = jaas
feature.karaf-shell = shell
feature.karaf-ssh = ssh
feature.karaf-bundle = bundle
feature.karaf-config = config
feature.karaf-instance = instance
feature.karaf-log = log
feature.karaf-package = package
feature.karaf-service = service
feature.karaf-system = system
feature.karaf-management = management
