################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# Apache Karaf Maven URL Handler configuration
#
# This replaces the pax-url-mvn configuration with a native Karaf implementation.
# Property names are compatible with org.ops4j.pax.url.mvn.* for easier migration.
#

# If set to true, SSL certificate validation is enforced when accessing
# Maven repositories through HTTPS
#
org.apache.karaf.url.mvn.certificateCheck = true

#
# Path to the local Maven repository which is used to avoid downloading
# artifacts when they already exist locally.
# Defaults to: ${user.home}/.m2/repository
#
#org.apache.karaf.url.mvn.localRepository =

#
# Comma separated list of default repositories (local, file-based).
# These are checked first, before the local repository and remote repositories.
# A repository URL can be appended with:
#    @snapshots  : the repository contains snapshots
#    @noreleases : the repository does not contain releases
#    @id=repo.id : the repository identifier
#
org.apache.karaf.url.mvn.defaultRepositories = \
    ${karaf.home.uri}${karaf.default.repository}@id=system.repository@snapshots, \
    ${karaf.data.uri}kar@id=kar.repository@multi@snapshots, \
    ${karaf.base.uri}${karaf.default.repository}@id=child.system.repository@snapshots

#
# Comma separated list of remote repositories.
# These are accessed via HTTP/HTTPS when the artifact is not found locally.
# A repository URL can be appended with:
#    @snapshots  : the repository contains snapshots
#    @noreleases : the repository does not contain releases
#    @id=repo.id : the repository identifier
#
org.apache.karaf.url.mvn.repositories = \
    https://repo1.maven.org/maven2@id=central, \
    https://repository.apache.org/content/groups/snapshots-group@id=apache@snapshots@noreleases

#
# Global update policy: always, daily, interval:NNN (minutes), never
#
#org.apache.karaf.url.mvn.globalUpdatePolicy = daily

#
# Global checksum policy: warn, fail, ignore
#
#org.apache.karaf.url.mvn.globalChecksumPolicy = warn

#
# Connection and socket timeouts
#
org.apache.karaf.url.mvn.timeout = 5000
org.apache.karaf.url.mvn.socket.connectionTimeout = 5000
org.apache.karaf.url.mvn.socket.readTimeout = 30000

#
# Number of connection retries after failure
#
org.apache.karaf.url.mvn.connection.retryCount = 3
