#
# This configuration file defines the ACLs for commands in the shell subshell
# 
# Important to note is that the shell:new and shell:java commands are very powerful
# as they can invoke any Java class available. Therefore they are limited to the admin
# role here.
new = admin
java = admin
