################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# This file describes the features repository URL
# It could be directly installed using feature:repo-add command
#

enterprise   = mvn:org.apache.karaf.features/enterprise/$\\\{version}/xml/features
cellar       = mvn:org.apache.karaf.cellar/apache-karaf-cellar/$\\\{version}/xml/features
camel        = mvn:org.apache.camel.karaf/apache-camel/$\\\{version}/xml/features
camel-extras = mvn:org.apache-extras.camel-extra.karaf/camel-extra/$\\\{version}/xml/features
cxf          = mvn:org.apache.cxf.karaf/apache-cxf/$\\\{version}/xml/features
cxf-dosgi    = mvn:org.apache.cxf.dosgi/cxf-dosgi/$\\\{version}/xml/features
activemq     = mvn:org.apache.activemq/activemq-karaf/$\\\{version}/xml/features
jclouds      = mvn:org.jclouds.karaf/jclouds-karaf/$\\\{version}/xml/features
openejb      = mvn:org.apache.openejb/openejb-feature/$\\\{version}/xml/features
wicket       = mvn:org.ops4j.pax.wicket/features/$\\\{version}/xml/features
hawtio       = mvn:io.hawt/hawtio-karaf/$\\\{version}/xml/features
ecf          = http://download.eclipse.org/rt/ecf/latest/site.p2/karaf-features.xml
