<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Apache Felix</title>
    <link rel="stylesheet" href="$relativePath/css/site.css" type="text/css" media="all" />
    <link rel="stylesheet" href="$relativePath/css/print.css" type="text/css" media="print" />
    <meta http-equiv="Content-Type" content="text/html; charset=${outputEncoding}" />
  </head>
  <body>
    <div class="title">
      <a href="http://incubator.apache.org"><img alt="Apache Incubator" src="http://incubator.apache.org/images/apache-incubator-logo.png" align="left" /></a><img alt="Logo" src="$relativePath/images/felix-logo.jpg" align="right" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="http://cwiki.apache.org/FELIX/index.html">home</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/news.html">news</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/status.html">status</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/license.html">license</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/downloads.html">downloads</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/documentation.html">documentation</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/committers.html">committers</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/mailinglists.html">mailing lists</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/faq.html">faq</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/roadmap.html">roadmap</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/sourcecode.html">source code</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/codingstandards.html">coding standards</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/issuetracking.html">issue tracking</a></li>
        <li><a href="http://cwiki.apache.org/FELIX/dependencies.html">dependencies</a></li>
      </ul>
    </div>
    <div class="main">
$bodyContent
    </div>
  </body>
</html>
